/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/views/accueil/accueil.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import url('~/src/bikinc/css/doubleSide.css');
.whole{
    width: 98%
}

.landscape Button.whole{
    width: 98%;
    margin-left: 0%;
}
