<ion-app>
  <ion-header collapse="condense">
    <ion-toolbar>
      <div align="center">
        <ion-avatar slot="start"> <!-- Utilise le slot "start" pour aligner l'avatar à gauche -->
          <ion-img src="assets/icon/espadon.avif" alt="Logo"></ion-img>
        </ion-avatar>
        <ion-title size="medium" style="font-family: 'itobliquealic'">Le Bateau de Thibault</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet>
    
  </ion-router-outlet>
</ion-app>
