/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/views/restaurant/restaurant.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import url('~/src/bikinc/css/doubleSide.css');
.caption{
  text-align: center;
  horizontal-align: center;
  margin-left: 0;
}
.landscape Label.caption{
  text-align: center;
  horizontal-align: center;
  margin-left: 0;
}
