<ion-content [fullscreen]="true" style="--background: #DDFFF7;">
  <div id="container">
    <div class="section-one">
      <strong>Vente en direct de notre bateau</strong><br>
      <strong>Produits selon la saison, Livraisons sur Paris</strong>
      <p>06.63.99.99.78</p>
      <p>lebateaudethibaultAgmail.com</p>
      <p>www.facebook/lebateaudethibault</p>
    </div>
    <br><br>

    <div class="section-two">
      <ion-grid>
          <ion-button (click)="onClickedProduits()" expand="full">
            Produits et promotions</ion-button>
        <ion-row>
          <ion-col>
            <ion-button expand="full">Bateaux</ion-button>
            <ion-button expand="full">Recettes</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full">Restaurants</ion-button>
            <ion-button expand="full">Contacts</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>